<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block">Ingresar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a href="/olvido-password">Olvidaste tu contraseña?</a>
        </p>
      </ion-col>
    </ion-row>
    <ion-button type="submit" color="light" (click)="onLoginGoogle()" expand="block" >
      Ingresa con Google
    </ion-button>
  </form>
  <ion-row>
        <ion-button size="small" href="/register">Crear Usuario
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
        
  </ion-row>


</ion-content>
