<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)">Iniciar sesion
          &nbsp;<ion-icon name="mail-open-outline"></ion-icon>
        </ion-button>
        <ion-button size="medium" type="submit" color="light" (click)="onLoginGoogle()">
          Ingresa con Google &nbsp;<ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button size="small" href="/olvido-password">Olvidaste tu contraseña?</ion-button>
      </ion-col>
    </ion-row>

        <ion-button size="small" href="/register">Crear Usuario
          <ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
  </form>
 
</ion-content>
