<ion-header>
  <ion-toolbar>
    <ion-title>Verificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2>Gracias por registrarte</h2>
      <p>Hemos enviado un correo de confirmacion al correo <strong>{{user.email}}</strong></p>
      <p>Verifica tu bandeja de entrada y haz click en link</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onEnviemail()">Enviar verificacion nuevamente</ion-button>
    </ion-col>
    <ion-col>
      <ion-button href="./login">Enviar verificacion nuevamente
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
<style>
  ion-col p{
    text-align:center ;
  }
</style>